<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1>Sentiment Analysis</h1>
    <div class="card_container">
        <a class="card_image_container">
          <img
            src="images/twitter.avif"
            alt="twitter"
            class="card_image"
            loading="lazy"
          />
        </a>
        <div class="card_title_container">
          <a href="#" class="card_title_anchor">
            <h2 class="card_title">Twitter Sentiment Analysis</h2>
          </a>
          <p class="card_desc">
             Using this Model You can anlaysis sentiment on your twitter post . How people reated on your post
                        </p>
        </div>

</body>
</html>